#listaPedidosBoleia{
    top: 450px;
    position:absolute;
    left: 200px;
}

#listaViagens{
    top: 150px;
    position:absolute;
    left: 200px;
}

#listaViagensProprias{
    top: 150px;
    position:absolute;
    left: 800px;
}

#listaPedidosProprios{
    top: 450px;
    position:absolute;
    left: 800px;
}