#listaPedidosBoleia{
    top: 50%;
    position:relative;
    left: 200px;
}

#listaViagens{
    position:relative;
    left: 200px;
}

#listaViagensProprias{
    position:relative;
    left: 800px;
}

#listaPedidosProprios{
    top: 50%;
    position:relative;
    left: 800px;
}

#username{
    position:absolute;
    top:135px;
    left:55px;
}