#listaPedidosBoleia{
    top: -30px;
    position:relative;
    left: 200px;
}

#listaViagens{
    position:relative;
    top: -75px;
    left: 200px;
}

#listaViagensProprias{
    position:relative;
    left: 800px;
    top: -875px;
}

#listaPedidosProprios{
    top:-785px;
    position:relative;
    left: 800px;
}

#username{
    position:relative;
    bottom:45px;
    left:55px;
}

body{
    box-sizing: border-box;
    background-color: rgb(206, 226, 255);
}