#SelectList{
    width: 400px;
    
}

#lista {
    white-space: pre-line;
}

#listaPedidos{
    position:absolute;
    left: 800px;
}

.list-group{
    width: 400px;
    height: 30px;
    box-sizing:border-box;
}

.form-control{
    width: 400px;
    
}

.button{
    border-radius: 0.375rem;
}