#SelectList{
    width: 400px;
    
}

#lista {
    white-space: pre-line;
}

#listaPedidos{
    top:220px;
    position:absolute;
    left: 1010px;
}

#listaPedidos2{
    position:absolute;
    left: 585px;
    top:220px;
}

.list-group{
    width: 400px;
    box-sizing:border-box;
    max-height: 450px;
    overflow-y: auto;
}

#Map{
    height: 500px;
    width: 80%;
}

#ItemUser{
    font-style: italic;
    font-size: large;
}

#ItemDate{
    font-style: oblique;
}

#ItemStartingPoint{
font-weight: 500;
}

#ItemDestination{
    font-weight: 500;
}

#ItemSeatingCapacity{

}

#ItemPickupLocation{
    font-weight: 500;
}

#titulo1{
    bottom:500px;
    position:absolute;
    left: 1025px;
}

#titulo2{
    position:absolute;
    left: 600px;
    bottom:500px;
}